*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(254, 254, 254);
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.logo img{
    width: 100px;
    height: 100px;

}
.color{
    color: orange;
}
header{
    background-color: rgb(255, 231, 166);
    background-image: url(Developer.png), url(mybg.jpg);
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1436px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 15px;
    color: #474747;
    text-decoration: none;
}
#banner{
    
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}
.btn{
   background-color: orangered;
   border: none;
   padding: 18px 35px;
   border-radius: 5px;
   font-size: 20px;
   font-weight: bold;
   color: white;
   cursor: pointer; 
}

.section-heading{
    max-width: 900px;
    text-align: center;
    margin: 0 auto;

    
}
.section-heading h2{
   font-size: 35px;
   margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
.text-center{
    text-align: center;
}    
#banner .banner-image img{
    max-width: 585px;
}
#about , #skills , #resume{
    padding-top: 130px;
    background-color: white;
}
#about .about-container{
    width: 71%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
#about .about-container .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.info-info .info-card h4{
    font-size: 20px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    max-width:267px ;
    box-shadow: 0 6px 50px 0 #75757553;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #474747;
    margin-bottom: 20px ;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;

}
#resume .resume-container hr{
    margin: 30px 0;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 14px;
    line-height: 28px;
    color: #757575;
}
footer{
    margin-top: 130px;
    background-color: rgba(255, 209, 149, 0.859);
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
}
.footer-container h2{
    color: black;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container .social p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
}
.footer-container .icons img{
    width: 25px;
    height: 25px;
    margin-right: 24px;
    padding-top: 15px;
}
.footer-container form input[type="text"], .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}