.container img{
    width: 600px;
    height: 620px;
    
}
.container{
    display: flex;
    
}
.container h1{
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;

}
.container p{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.bg{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}